@import "http://fonts.googleapis.com/css?family=Raleway";


* {
    box-sizing: border-box;
    margin:0;
}
  header {
    background: url("images/beverage-black-coffee-coffee-64778.jpg");
    background-position: top;
    background-size: cover;
    color: #f8fffc;
    height: 100vh;
    padding: 35px;
    opacity: .75;
}

  header p{
    font-family: 'Signika', serif;
    font-size: 42px;
    margin: 325px 5px 0 5px;
    padding-top: 50px;
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0 , 0, .25);
}

 .header{
    color: white;
    text-align: center;
}



  h1 {
    font-family: 'Lobster', cursive;
    font-size: 85px;
    padding: 5px 35px;
    text-shadow: 2px 2px lightgray;
    /*margin-top:-20px;*/
    margin-top: 25px;

}

  h2{
    color: rgba(244, 183, 86,.75);
    font-family: 'Quando', serif;
    font-size: 40px;
}

.center{
  text-align: center;
  margin-top: 50px;
}

.largelink{
  width: calc(100% / 3);
  text-align: center;
  float: left;
  padding: 75px 0;
}


  h3{
    color: rgba(244, 183, 86,.75);
    font-family: 'Quando', serif;
    font-size: 24px;
}


i {
  text-align: center;
  display: inline;
  float: right;
  padding: 65px 2px;
  margin-top:-35px;
  text-decoration: bold;
  font-size: 20px;
  font-family: 'Judson', serif;

}

.soon{
  width: calc(100% / 6);
  text-align: center;
  float: left;
  margin:0 30px 0 360px;
  opacity: .75;
}

.soon1{
  width: calc(100% / 6);
  text-align: center;
  float: left;
  display:inline;
  margin-top: -17px;
  opacity:.75;

}



  p{
    color: rgba(253, 221, 159,.75);
    font-family: 'Judson', serif;
    font-size: 15px;
}


  .homepic{
    transform: rotate(20deg);

}

  em{
    color: rgba(254, 242, 191,.75);
}

  section p{
    color:rgba(253, 221, 159,.75);
    font-size: 20px;
    margin-top: 50px;
}


  article{
    text-align: center;
    margin-top: 50px;
}

div .icons {
  border-radius: none;
  background-color: white;
  border: none;
  color: rgba(244, 183, 86,.75);
  text-align: center;
  font-size: 20px;
  padding: 15px 35px;
  font-weight: bold;
  display:inline-block;
  transition: all 0.5s;
  cursor: pointer;

}

div .icons:hover {
  color: black;

}

  .screen1{
    background-color: rgba(254, 242, 191,.75);
    margin: 0 auto;
    border-top: white 50px solid;
    border-right: white 50px solid;
    border-left: white 50px solid;
    border-bottom: white 50px solid;
    height: 900px;

}



  .section1 h2{
    float: right;
    height: 200px;
    margin: -450px 150px 0;
    width: 400px;
}

  .section1 p{
    color:rgba(253, 221, 159,.95);
    float: right;
    height: 200px;
    margin: -380px 150px 0;
    width: 400px;
}


.screen2{
  background-color: white;
  margin: 0 auto;
  height: 800px;

}

.section2 h2{
  float: left;
  margin: -450px 0 0 70px;
  width: 900px;
}

.section2 p{
  color:rgba(253, 221, 159,.95);
  float: left;
  height: 200px;
  margin: -400px 35px 0 70px;
  width: 925px;
}



.screen3{
  background: rgba(254, 242, 191,.75);
  margin: 0 auto;
  height: 100vh;

}

.section3 h2{
  float: right;
  margin: -450px 150px 0 0;
  width: 600px;
}

.section3 p{
  color:rgba(253, 221, 159,.95);
  float: right;
  margin: -400px 150px 0 0;
  width: 600px;
}



.screen4{
     height: 425px;
     padding: 100px;
     text-align: center;

}

.screen4 h2{
  padding: 25px;
}

 ul {
     color: rgba(253, 221, 159,.75);
     font-size: 20px;
     list-style-type: none;
     margin: 0;
     padding: 0;
}

.divider{
  background-color: rgba(254, 242, 191,.75);
  margin: -25px 0 0 0;
  height: 50px;
  width: 100%;
  clear:both;

}

 footer h2{
   margin: 0 0 0 555px;
   padding-top: 100px;
 }
 footer p{
 color: rgba(244, 183, 86,.75);
 float: left;
 font-size: 16pt;
 line-height: 1.35em;
 margin: 10px 0 0 80px;
 padding: 0 420px;
}

a{
  outline: none;
  text-decoration: none;
}

  #popup:hover {
    background-color: rgba(244, 183, 86,.75);
    color: white;
  }

  #popup.waitinglist:after{
    padding-right: 10px;
  }
b{
  padding-left: 10px;
}

/* button */

/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/

#abc {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:rgba(49,49,49,.75);
overflow:auto
}
img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer;
color:orange;
}
div#popupContact {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family:'Raleway',sans-serif
}
form {
padding:20px 50px;
border:2px solid gray;
border-radius:25px;
font-family:raleway;
background-color:#fff;
margin: 10px;
text-align: center;
}

hr {
margin:35px 100px;
border:0;
border-top:1px solid #ccc;
clear:both;
}


input[type=text] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:10px;
font-size:16px;
font-family:raleway
}
/*#name {
background-image:url('images/user.png');
background-repeat:no-repeat;
background-position:5px 7px
background-size: 1px;
}
#email {
background-image:url('images/email.png');
background-repeat:no-repeat;
background-position:5px 7px
}*/
textarea {
/*background-image:url('');
background-repeat:no-repeat;
background-position:5px 7px;
*/
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
padding-left:10px;
font-size:16px;
font-family:raleway;
margin-bottom:30px;
}

#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color: rgba(244, 183, 86,.75);
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}

span {
color:red;
font-weight:700
}

#popup{
  border-radius: 25px;
  background-color:rgba(254, 242, 191,.75);
  border: none;
  color: rgba(244, 183, 86,1);
  text-align: center;
  font-size: 20px;
  padding: 15px 35px;
  font-weight: bold;
  display:inline-block;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px 0 0 590px;
  transition: all 0.3s;
  box-shadow: 0 2px 5px rgba(0,0,0,.2), inset 0 3px 0 rgba(0,0,0,.2);
}



/*form*/

.modal-bg {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0,0,0,.65);
}

.modal {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 width: 90%;
 max-width: 50rem;
 margin: 0 auto;
 padding: 1em;
 background: #fff;
 z-index: 100;
 opacity: 0;
 pointer-events: none;
 transition: all .45s ease-out;
 transform: translateY(-100%);
}

.modal.open {
 opacity: 1;
 pointer-events: auto;
 transform: translateY(20%);
}

#close-modal {
 position: absolute;
 top: 0;
 right: 0;
 height: 2rem;
 width: 2rem;
}

#close-modal span {
 height: 2rem;
 width: .2rem;
 position: absolute;
 top: .5rem;
 right: 1.5rem;
 background-color: rgba(244, 183, 86,.75);
 transform: rotate(-45deg);
 display: inline-block;
 border-radius: 1rem;
}

#close-modal span:nth-child(2) {
 transform: rotate(45deg);
}
Message Input


Message @Jen

*bold* _italics_ ~strike~ `code` ```preformatted``` >quote

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  body {
    width:100%;
  }
}

   body{
     @media (max-width: 500px){
      body{
      background: red;
}

   h1{
    font-size: 36px;
  }

  li{
    display: block;
    padding: 5px;
  }
