@import "http://fonts.googleapis.com/css?family=Raleway";


* {
    box-sizing: border-box;
    margin:0;
}
  header {
    background: url("images/beverage-black-coffee-coffee-64778.jpg");
    background-position: top;
    background-size: cover;
    color: #f8fffc;
    height: 100vh;
    padding: 35px;
    opacity: .75;
}

  header p{
    font-family: 'Signika', serif;
    font-size: 42px;
    margin: 350px 5px 0 5px;
    padding-top: 50px;
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0 , 0, .25);
}

 .header{
    color: white;
    text-align: center;
}


  h1 {
    font-family: 'Lobster', cursive;
    font-size: 85px;
    padding: 0 35px;
    text-shadow: 2px 2px lightgray;
}

  h2{
    color: rgba(244, 183, 86,.75);
    font-family: 'Quando', serif;
    font-size: 40px;

}

  h3{
    color: rgba(244, 183, 86,.75);
    font-family: 'Quando', serif;
    font-size: 24px;

}

  p{
    color: rgba(253, 221, 159,.75);
    font-family: 'Judson', serif;
    font-size: 15px;
}


  .homepic{
    transform: rotate(20deg);

}

  em{
    color: rgba(254, 242, 191,.75);
}

  section p{
    color:rgba(253, 221, 159,.75);
    font-size: 20px;
    margin-top: 50px;
}

  hr{
    clear:both;
    margin: 65px 150px 65px 150px;
}

  article{
    text-align: center;
    margin-top: 50px;
}

div .icons {
  border-radius: none;
  background-color: white;
  border: none;
  color: rgba(244, 183, 86,.75);
  text-align: center;
  font-size: 20px;
  padding: 15px 35px;
  font-weight: bold;
  display:inline-block;
  transition: all 0.5s;
  cursor: pointer;

}

div .icons:hover {
  color: black;

}
  .first-width{
    float:left;
    padding: 60px 130px 0 130px;
    margin: 0 10px;
    width: 32px;
}

  .second-width{
    float: left;
    margin: 0 10px;
    padding: 60px 330px 0 330px;
    width: 32px;

}

  .third-width{
    float: left;
    magrin: 0 10px;
    padding: 60px 80px 0 80px;
    width: 32px;

}


  .first-paragraph{
    float:left;
    padding: 5px 130px;
    text-align: center;
    width: 200px;

}

  .second-paragraph{
    float: left;
    padding: 5px 130px;
    text-align: center;
    width: 200px;


}

  .third-paragraph{
    float: left;
    padding: 5px 130px;
    text-align: center;
    width: 200px;
}

  .screen1{
    background: rgba(254, 242, 191,.75);
    height: 650px;
    margin: 0 auto;
    width: 95%;
}



  .section1 h2{
    float: right;
    height: 200px;
    margin: -450px 150px 0;
    width: 400px;
}

  .section1 p{
    color:rgba(253, 221, 159,.75);
    float: right;
    height: 200px;
    margin: -380px 150px 0;
    width: 400px;
}


  .screen2{
    background-color: white;
    height: 650px;
    width: 100%;
}

  .section2 p{
    color: rgba(253, 221, 159,.75);
    height: 200px;
    margin: 10px 0 0 100px;
    width: 650px;
}

  .section2 h2{
    margin: -450px 0 0 100px;
}


   .screen3{
     background-color: rgba(254, 242, 191,.75);
     height: 625px;
     margin: 130px 0 0 0;
     width: 100%

}
   .section3 p{
     color: rgba(253, 221, 159,.75);
     float: right;
     height: 200px;
     margin: -330px 0 0 100px;
     width: 700px;
}

   .section3 h2{
     float: right;
     height: 200px;
     margin: -380px 0 0 650px;
     width: 700px;
}


.screen4{
     height: 425px;
     padding: 100px;
     text-align: center;

}

.screen4 h2{
  padding: 25px;
}

 ul {
     color: rgba(253, 221, 159,.75);
     font-size: 20px;
     list-style-type: none;
     margin: 0;
     padding: 0;
}

.divider{
  background-color: rgba(254, 242, 191,.75);
  margin: -25px 0 0 0;
  height: 50px;
  width: 100%;
  clear:both;

}

 footer h2{
   margin: 0 0 0 555px;
   padding-top: 100px;
 }
 footer p{
 color: rgba(244, 183, 86,.75);
 float: left;
 font-size: 16pt;
 line-height: 1.35em;
 margin: 10px 0 0 80px;
 padding: 0 420px;
}

a{
  outline: none;
  text-decoration: none;
}

/*
   .button {
     border-radius: 25px;
     background-color:rgba(254, 242, 191,.75);
     border: none;
     color: rgba(244, 183, 86,1);
     text-align: center;
     font-size: 20px;
     padding: 15px 35px;
     font-weight: bold;
     display:inline-block;
     transition: all 0.5s;
     cursor: pointer;
     margin: 10px 0 0 590px;
     transition: all 0.3s;
     box-shadow: 0 2px 5px rgba(0,0,0,.2), inset 0 3px 0 rgba(0,0,0,.2);


} */
  .button:hover {
    background-color: rgba(244, 183, 86,.75);
    color: white;
  }

  .button.waitinglist:after{
    padding-right: 10px;
  }
span{
  padding-left: 10px;
}


/* button */

/*----------------------------------------------
CSS settings for HTML div Exact Center
------------------------------------------------*/

#abc {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:rgba(49,49,49,.75);
overflow:auto
}
img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
div#popupContact {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family:'Raleway',sans-serif
}
form {
max-width:500px;
min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
background-color:#fff
}
/*h2 {
background-color:#FEFFED;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
*/
hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}


input[type=text] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}
#name {
background-image:url(../images/name.jpg);
background-repeat:no-repeat;
background-position:5px 7px
}
#email {
background-image:url(../images/email.png);
background-repeat:no-repeat;
background-position:5px 7px
}
textarea {
background-image:url(../images/msg.png);
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway;
margin-bottom:30px
}
#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}
span {
color:red;
font-weight:700
}

#popup{
  border-radius: 25px;
  background-color:rgba(254, 242, 191,.75);
  border: none;
  color: rgba(244, 183, 86,1);
  text-align: center;
  font-size: 20px;
  padding: 15px 35px;
  font-weight: bold;
  display:inline-block;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px 0 0 590px;
  transition: all 0.3s;
  box-shadow: 0 2px 5px rgba(0,0,0,.2), inset 0 3px 0 rgba(0,0,0,.2);
}

*/






   body{
     @media (max-width: 500px){
      body{
      background: red;
}

   h1{
    font-size: 36px;
  }

  li{
    display: block;
    padding: 5px;
  }
